{% extends "base.html" %}

{% block header_image %}
{% include "users/snippets/profile_menu.html"%}
{% endblock header_image %}

{% block content %}
<div class="w-100 flex flex-rows pt-10">

    <div class="flex flex-col">
        <div class="">
            <div class="bg-gradient-to-tr rounded-full from-yellow-400 to-purple-600">
                <img class="rounded-full border-4 border-transparent" style="width:200px" src="{{ object.profile.image.url }}">
            </div>
        </div>
        {% if request.user != object.profile.user %}
        <div class="mt-5">
            <button class="w-full py-2 rounded-lg bg-yellow-500 bg-opacity-100 hover:bg-opacity-70 text-white font-bold border-gray-300 transition">Follow</button>
        </div>

        <div class="mt-3">
            <button class="w-full py-2 rounded-lg bg-blue-400 bg-opacity-100 hover:bg-opacity-70 text-white font-bold border-gray-300 transition">Add Friend</button> 
        </div>
        {% else %}
        <div class="mt-3">
            <a href="{% url 'profile-update' %}">
                <button class="py-2 min-w-full rounded text-white font-semibold bg-gray-500 bg-opacity-100 hover:bg-opacity-80 transition">Edit Profile</button> 
            </a>
        </div>
        {% endif %}
    </div>

        <div class="pl-8">
            <h3 class="inline-block font-semibold text-3xl text-gray-700 dark:text-gray-200">{{ object.username }}</h3>
                {% if object.profile.country.name %}
                <span class="inline-block font-normal pl-4 text-gray-700 dark:text-gray-200 opacity-50">
                    <svg class="inline-block mb-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    {{ object.profile.country.name }}
                </span>
                {% endif %}
            <h3 class="fomt-semibold text-gray-700 dark:text-gray-200">{{ object.groups.first }}</h3>
            <h3 class="text-gray-700 dark:text-gray-200">Joined: {{ object.profile.user.date_joined|date:'d/m/Y' }}</h3>
            {% if object.profile.bio %}
            <h3 class="text-gray-700 dark:text-gray-200 max-w-2xl pt-6">{{ object.profile.bio }}</h3>
            {% endif %}
        </div>
</div>

<div class="flex flex-row gap-52 mt-20 justify-between">

    <div>
        <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Liked mods</h2>
        <div class="grid grid-cols-3 gap-2">
            {% for like in likes %}
            <a href="{% url 'mod-detail' like.mod_id.id %}">
                <div class="card-container">
                    <div class="card">
                        <img class="card-image" src="{{ like.mod_id.image.url }}" alt="">
                        <div class="p-2">
                            <span class="font-semibold">{{ like.mod_id.title|truncatechars:20 }}</span>
                        </div>
                        <div class="card-badge">
                            <span>{{ like.mod_id.type }}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}    
        </div>
    </div>

    <div>
        <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Mod lists by {{ user.username }}</h2>
        <div class="grid grid-cols-2 gap-2 pt-3">
            {% for list in list_names %}
            <a href="{% url 'profile-list-detail' user.username list.id %}">
                <div class="w-48 text-center py-2 rounded-lg bg-gray-500 dark:bg-gray-600 bg-opacity-100 hover:bg-opacity-70 text-white font-bold border-gray-300 transition">
                    {{ list.list_name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}