{% load static %}
<section id="iq-upcoming-movie mt-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 overflow-hidden">
        <div
          class="iq-main-header d-flex align-items-center justify-content-between"
        >
          <h4 class="main-title">Top MSFS Mods</h4>
          <a class="iq-view-all" href="{% url 'mods:category' msfs.id %}">View All</a>
        </div><br><br>
        <div class="upcoming-contens">
          <ul class="favorites-slider list-inline row p-0 mb-0">
            {% for mod in msfs_mods %}
            <li class="slide-item">
              <div class="block-images position-relative">
                <div class="img-box">
                  <img
                    src="{{ mod.image.url }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="block-description">
                  <h6 class="iq-title">
                    <a href="{% url 'mods:category' featured.id %}">{{mod.title}}</a>
                  </h6>
                  <div class="movie-time d-flex align-items-center my-2">
                    <div class="badge badge-secondary p-1 mr-2">
                      {{mod.downloads.count}} Downloads
                    </div>
                  </div>
                  <span class="text-white">{% for typ in mod.type_mods.all %} | {{typ}}{% endfor %}</span>
                  <br>
                <div class="text-primary title genres">
                  File Size: <span class="text-body">{{mod.mod_file.size | filesizeformat}}</span>
                </div>
                  <div class="hover-buttons">
                    <span class="btn btn-hover iq-button"
                      ><i class="fa fa-play mr-1" aria-hidden="true"></i>
                      Download
                    </span>
                  </div>
                </div>
                <div class="block-social-info">
                  <ul class="list-inline p-0 m-0 music-play-lists">
                    <li class="share">
                      <span><i class="ri-share-fill"></i></span>
                      <div class="share-box">
                        <div class="d-flex align-items-center">
                          <a
                            href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="share-ico"
                            tabindex="0"
                            ><i class="ri-facebook-fill"></i
                          ></a>
                          <a
                            href="https://twitter.com/intent/tweet?text=Currentlyreading"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="share-ico"
                            tabindex="0"
                            ><i class="ri-twitter-fill"></i
                          ></a>
                          <a
                            href="#"
                            data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                            class="share-ico iq-copy-link"
                            tabindex="0"
                            ><i class="ri-links-fill"></i
                          ></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span><i class="ri-heart-fill"></i></span>
                      <span class="count-box">19+</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>