{% extends 'base.html' %} {% block maincontent %}{% load static %}
<section id="iq-upcoming-movie mt-8">
  <div class="container-fluid" class="top-split" style="padding-top:150px">
    <div class="row">
      <div class="col-sm-12 overflow-hidden">
        <div class="iq-main-header d-flex align-items-center justify-content-between">
          <h4 class="main-title">{{category.name}} > {{subtype.name}} Add-Ons</h4>
        </div><br><br>
        <div class="upcoming-contens">
          <ul class="favorites-slider list-inline row p-0 mb-0">
            {% for mod in mods %}
            <li class="slide-item">
              <div class="block-images position-relative">
                <div class="img-box">
                  <img src="{{ mod.header_image.url }}" class="img-fluid" alt="" />
                </div>
                <div class="block-description">
                  <h6 class="iq-title">
                    <a href="{% url 'mods:mod-detail' mod.id %}">{{mod.title}}</a>
                  </h6>
                  <div class="movie-time d-flex align-items-center my-2">
                    <div class="badge badge-secondary p-1 mr-2">
                      {{mod.downloads.count}} Downloads
                    </div>
                  </div>
                  <!-- <span class="text-white">{% for typ in mod.type_mods.all %} | {{typ}}{% endfor %}</span> -->
                  <br>
                  <div class="text-primary title genres">
                    File Size: <span class="text-body">{{mod.mod_file.size | filesizeformat}}</span>
                  </div>
                  <div class="hover-buttons">
                    <a class="btn btn-hover iq-button" href="{% url 'mods:mod-detail' mod.id %}"><i
                        class="fa fa-play mr-1" aria-hidden="true"></i>
                      Download
                    </a>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}