{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block maincontent %}
<!-- MainContent -->
<section class="sign-in-page">
  <div class="container">
    <div
      class="row justify-content-center align-items-center"
    >
      <div class="col-lg-6 col-md-12" style="margin-top: 200px;margin-bottom: 200px">
        <div class="sign-user_card">
          <div class="sign-in-page-data">
            <div class="sign-in-from w-100 m-auto">
              <h3 class="mb-3 text-center">Contact Us</h3>

              {% if messages %}
              {% for message in messages %}
              {% if message.tags == "success" %}
              <p class="successField">
              {{message}}
              </p>
              {%else%}
              <p class="errorField">
              {{message}}
              </p>
              {% endif %}
              {% endfor %}
              {%endif%}
              {{ form.media }}

              <form class="mt-4" method="post">
                {% csrf_token %} {{ form|crispy }}

                <div class="sign-info">
                <br>
                  <button type="submit" class="btn btn-hover">Send Message</button><br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
