{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<div class="flex flex-row mt-14 w-full">

    <nav class="flex flex-col h-full w-56 bg-dark-800 dark:text-gray-200 border dark:border-dark-700 shadow-lg rounded">
        <div class="divide-y divide-dark-700">
            <a class="block py-3 pl-5 dark:hover:bg-gray-700" href="{% url 'profile-update' %}">Profile</a>
            <a class="block py-3 pl-5 dark:hover:bg-gray-700" href="{% url 'profile-update-security' %}">Account security</a>
        </div>
     </nav>

    <div class="ml-12 rounded flex-grow">
        <div class="px-14 py-8 bg-dark-800 w-11/12 rounded text-white">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="border-bottom text-info pb-3">Update your Profile</h2>
                {% if form %}
                {{ form|crispy }}
                {% endif %}
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <button class="btn-like px-4" type="submit">Update Profile</button>
            </form>
        </div>
    </div>

</div>
{% endblock content %}