{% extends 'base.html' %}
 {% block maincontent %} 
{% load crispy_forms_tags %} 
 {% load static %}
<!-- MainContent -->
<section class="m-profile manage-p sign-in-page">
  <div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-lg-10">
        <div class="sign-user_card">
          <div class="row">
            <div class="col-lg-2">
              <div class="upload_profile d-inline-block">
                <img
                  src="{% static 'images/user/user.jpg' %}"
                  class="profile-pic rounded-circle img-fluid"
                  alt="user"
                />
                <div class="p-image">
                  <i class="ri-pencil-line upload-button"></i>
                  <input class="file-upload" type="file" accept="image/*" />
                </div>
              </div>
            </div>
            <div class="col-lg-10 device-margin">
              <div class="profile-from">
                <h4 class="mb-3">Update Profile</h4>
                <form class="mt-12" method="post">
                <br />
                {% csrf_token %} {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-hover my-2">
                  Update Password
                </button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
