{% extends 'base.html' %} {% block maincontent %} {% load static %}
<div class="top-split" style="padding:150px 0">

  <section class="main-content container-fluid">
    <h4 class="main-title">All Simulators</h4>
    <br>
    <br>
    <br>
    <div class="upcoming-contens">
      <ul class="favorites-slider list-inline row p-0 mb-0">
        {% for mod in mods %}
        <li class="slide-item">
          <a href="{% url 'mods:category' mod.id %}">
            <div class="block-images position-relative">
              <div class="img-box">
                <img src="{% static 'images/favorite/04.png' %}" class="img-fluid" alt="" />
              </div>
              <div class="block-description">
                <h6 class="iq-title">
                  {{mod.name}}
                </h6>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endblock %}