{%load static%}

<section id="parallex" class="parallax-window">
  <div class="container-fluid h-100">
    <div
      class="row align-items-center justify-content-center h-100 parallaxt-details"
    >
      <div class="col-lg-4 r-mb-23">
        <div class="text-left">
          <a href="javascript:void(0);">
            <img
              src="{% static 'images/parallax/parallax-logo.png' %}"
              class="img-fluid"
              alt="bailey"
            />
          </a>
          <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
            <ul
              class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left"
            >
              <li>
                <a href="javascript:void(0);" class="text-primary"
                  ><i class="fa fa-star" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="pl-2 text-primary"
                  ><i class="fa fa-star" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="pl-2 text-primary"
                  ><i class="fa fa-star" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="pl-2 text-primary"
                  ><i class="fa fa-star" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="pl-2 text-primary"
                  ><i class="fa fa-star-half-o" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
            <span class="text-white ml-3">9.2</span>
          </div>
          <div class="movie-time d-flex align-items-center mb-3">
            <div class="badge badge-secondary mr-3">23 Downloads</div>
            <h6 class="text-white">Flight Sim</h6>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry...
          </p>
          <div class="parallax-buttons">
            <a href="movie-details.html" class="btn btn-hover">Download</a>
            <a href="movie-details.html" class="btn btn-link">More details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="parallax-img">
          <a href="movie-details.html">
            <img
              src="{% static 'images/parallax/p1.jpg' %}"
              class="img-fluid w-100"
              alt="bailey"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
