{%load static%}

<section id="parallex" class="parallax-window">
  <div class="container-fluid h-100">
    <div
      class="row align-items-center justify-content-center h-100 parallaxt-details"
    >
      <div class="col-lg-4 r-mb-23">
        <div class="text-left">
<br>
          <a href="{% url 'mods:category' featured.id %}">
            <img
              src="{{featured.image.url}}"
              class="img-fluid"
              alt="{{featured.title}}"
            />
          </a>
          <br><br>

                  <h3 class="iq-title">
                    <a href="{% url 'mods:category' featured.id %}">{{featured.title}}</a>
                  </h3>
                  <br><br>
          <div class="movie-time d-flex align-items-center mb-3">
            <div class="badge badge-secondary mr-3">{{featured.downloads.count}} Downloads</div>
            <h6 class="text-white">{% for typ in featured.type_mods.all %} | {{typ.name}}{% endfor %}</h6>
          </div>

                <div class="text-primary title genres">
                  File Size: <span class="text-body">{{featured.mod_file.size | filesizeformat}}</span>
                </div>
          <p class="text-sm-left">
            {{featured.description}}
          </p>
          <div class="parallax-buttons">
            <a href="{% url 'mods:category' featured.id %}" class="btn btn-hover">Download</a>
            <a href="{% url 'mods:category' featured.id %}" class="btn btn-link">More details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="parallax-img">
          <a href="{% url 'mods:category' featured.id %}">
            <img
              src="{{featured.cover_image.url}}"
              class="img-fluid w-100"
              alt="{{featured.title}}"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
