{% extends 'base.html' %} {% block maincontent %} {% load static %}
{% if mod %}
<section class="banner-wrapper overlay-wrapper iq-main-slider" style="background-image: url({{mod.cover_image.url}});">
  <div class="banner-caption">
    <div class="position-relative mb-4">
      <a href="#" class="d-flex align-items-center">
        <div class="play-button">
          <i class="fa fa-download"></i>
        </div>
        <h4 class="w-name text-white font-weight-700">Download</h4>
      </a>
    </div>
    <br /><br />
    {% comment %}
    <ul class="list-inline p-0 m-0 share-icons music-play-lists">
      <li>
        <span><i class="ri-heart-fill"></i></span>
      </li>
      <li class="share">
        <span><i class="ri-share-fill"></i></span>
        <div class="share-box">
          <div class="d-flex align-items-center">
            <a href="#" class="share-ico"><i class="ri-facebook-fill"></i></a>
            <a href="#" class="share-ico"><i class="ri-twitter-fill"></i></a>
            <a href="#" class="share-ico"><i class="ri-links-fill"></i></a>
          </div>
        </div>
      </li>
    </ul>
    {% endcomment %}
  </div>
</section>
<!-- Banner End -->
<!-- MainContent -->
<div class="main-content">
  <section class="movie-detail container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="trending-info g-border">
          <h1 class="trending-text big-title text-uppercase mt-0">
            {{mod.title}}
          </h1>
          <ul class="p-0 list-inline d-flex align-items-center movie-content">
            {% for typ in mod.type_mods.all %}
            <li class="text-white">| {{typ}}</li>
            {% endfor %}
          </ul>
          <div class="d-flex align-items-center text-white text-detail">
            <span class="badge badge-secondary p-3"
              >{{mod.downloads.count}}</span
            >
            <span class="ml-3">Downloads</span>
          </div>
          {% comment %}
          <div class="d-flex align-items-center series mb-4">
            <a href="javascript:void();"
              ><img
                src="{% static 'images/trending/trending-label.png' %}"
                class="img-fluid"
                alt=""
            /></a>
            <span class="text-gold ml-3">#2 in Most Downloaded Today</span>
          </div>
          {% endcomment %}
          <p class="trending-dec w-100 mb-0">{{mod.description}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid seasons">
    <ul
      class="trending-pills d-flex nav nav-pills align-items-center text-center s-margin"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link active show"
          data-toggle="pill"
          href="#episodes"
          role="tab"
          aria-selected="true"
          >Images</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div id="episodes" class="tab-pane fade active show" role="tabpanel">
        <div class="block-space">
          <div class="row">
            <div class="col-1-5 col-md-6 iq-mb-30">
              <div class="epi-box">
                <div class="epi-img position-relative">
                  <img
                    src="{{mod.image.url}}"
                    class="img-fluid img-zoom"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% else %}
<div class="main-content container-fluid"  style="padding-top:250px">
  <h3>Add-on not found!</h3>
  <br><br>
  <p>The mod you tried viewing does not exist in our system. 
  </p><br>
  <div class="sign-info">
    <a href="{% url 'authentication:index' %}" class="btn btn-hover">Take me back home</a>
  </div>
</div>
{% endif %}
{%endblock%}
