{% load static%}
<!-- Slider Start -->
<section id="home" class="iq-main-slider p-0">
  <div id="home-slider" class="slider m-0 p-0">
  <div class="slide slick-bg s-bg-1" style="background-image: url({{mod.cover_image.url}})">
      <div class="container-fluid position-relative h-100">
        <div class="slider-inner h-100">
          <div class="row align-items-center h-100">
            <div class="col-xl-6 col-lg-12 col-md-12">
              <a href="javascript:void(0);">
                <div
                  class="channel-logo"
                  data-animation-in="fadeInLeft"
                  data-delay-in="0.5"
                >
                  Featured
                </div>
              </a>
              <h1
                class="slider-text big-title title text-uppercase"
                data-animation-in="fadeInLeft"
                data-delay-in="0.6"
              >
                {{featured.title}}
              </h1>


              <!-- <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
                               
                              <span class="badge badge-secondary p-2">18+</span>
                              <span class="ml-3">2 Seasons</span>
                           </div> -->
              <p data-animation-in="fadeInUp" data-delay-in="1.2">
                {{featured.description|safe}}
              </p>
              <div
                class="trending-list"
                data-wp_object-in="fadeInUp"
                data-delay-in="1.2"
              >
               
                <div class="text-primary title genres">
                  File Size: <span class="text-body">{{featured.mod_file.size | filesizeformat}}</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center r-mb-23"
                data-animation-in="fadeInUp"
                data-delay-in="1.2"
              >
                <a href="{% url 'mods:mod-detail' featured.id %}" class="btn btn-hover iq-button"
                  ><i class="fa fa-play mr-2" aria-hidden="true"></i>Download
                  Now</a
                >
                <a href="{% url 'mods:mod-detail' featured.id %}" class="btn btn-link"
                  >More details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 44 44"
      width="44px"
      height="44px"
      id="circle"
      fill="none"
      stroke="currentColor"
    >
      <circle r="20" cy="22" cx="22" id="test"></circle>
    </symbol>
  </svg>
</section>
<!-- Slider End -->
