{% extends "base.html" %}

{% block content %}
<h2 class="pt-10 text-xl font-semibold text-gray-900 dark:text-gray-200">Latest uploads</h2>
<div class="card-container sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">

    {% for mod in object_list %}
    <a href="{% url 'mod-detail' mod.id %}">
        <div class="card">
            <img class="card-image" src="{{ mod.image.url }}" alt="">
            <div class="p-2">
                <span class="font-bold">{{ mod.title|truncatechars:21 }}</span>
                <span class="block font-semibold text-sm opacity-95">
                    {% for sim in mod.simulators.all %} 
                        {{ sim }}
                        {% if not forloop.last %}
                        &bull;
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="card-badge">
                <span>{{ mod.type }}</span>
            </div>
        </div>
    </a>
    {% endfor %}

</div>




{% endblock content %}